@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --clr-main-bgc: #fcfaf8;
  --clr-btn-hover: rgba(0, 0, 255, 0.1);

  --size-icon-lg: 32px;
  --size-icon-m: 24px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.sidebar-container {
  background-color: var(--clr-main-bgc);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 1rem;
}
.account__container {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding: 0.5rem;
}
.profile__img {
  max-width: 32px;
  max-height: 32px;
  border-radius: 50%;
  outline: 2px solid black;
  padding: 0.1rem;
}
.profile__username {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
}
.project-name__container,
.project-heading__container {
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 10px;
}
.project-name__container {
  cursor: pointer;
}
.project-name__container:hover {
  background-color: var(--clr-btn-hover);
}
.project-heading__add-projects-btn {
  max-width: var(--size-icon-lg);
  max-height: var(--size-icon-lg);
  border-radius: 50%;
  transition: 100ms background-color ease-in;
}
.project-name__edit-btn:hover,
.project-name__remove-btn:hover,
.project-heading__add-projects-btn:hover {
  background-color: var(--clr-btn-hover);
}
.project-name__btn-container {
  display: flex;
  gap: 0.5rem;
}
.project-name__edit-btn,
.project-name__remove-btn {
  max-width: var(--size-icon-m);
  max-height: var(--size-icon-m);
  border-radius: 5px;
  transition: 100ms background-color ease-in;
}
.project-heading__my-projects-heading {
  font-weight: 500;
  font-size: 1.5rem;
}
.project-name__heading {
  font-weight: 400;
  font-size: 1rem;
}
