.todo-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.todo-section__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__add-todo-btn {
  background-color: rgba(0, 0, 255, 0.7);
  border-radius: 10px;
  transition: 100ms background-color ease-in;
}
.header__add-todo-btn:hover {
  background-color: rgba(0, 0, 255, 0.5);
}
.header__project-name {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.header__add-todo-img {
  max-width: 48px;
  max-height: 48px;
}

.todo__date {
  text-decoration: underline;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.todo__edit-img {
  border-radius: 5px;
  max-width: 24px;
  max-height: 24px;
  transition: 100ms background-color ease-in;
}
.todo__edit-img:hover {
  background-color: rgba(0, 0, 255, 0.1);
}
.todo__grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 10px;
  outline: 2px solid black;
  transition:
    100ms background-color ease-in,
    300ms max-height ease-in;
  cursor: pointer;
  border-left-width: 15px;
  border-left-style: solid;
  border-left-color: orange;
  gap: 1rem;
  font-family: "Poppins", sans-serif;
  max-height: 55px;
  overflow: hidden;
}
.todo__grid:hover {
  background-color: rgba(0, 0, 255, 0.1);
  max-height: 500px;
}
.todo__right-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.todo__checkbox {
  appearance: none;
  -webkit-appearance: none;
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
  border: 1px solid grey;
  cursor: pointer;
  outline: none;
  transition: 200ms background-color ease-in;
}
.todo__checkbox:checked {
  background-color: lightgreen;
}
.todo__name {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}
.todo__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.todo__default-container {
  display: flex;
  justify-content: space-between;
}
